/****** Object:  Table [dbo].[familia_patente]    Script Date: 2020-07-07 23:22:44 ******/
CREATE TABLE [dbo].[familia_patente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[familia_id] [int] NULL,
	[patente_id] [int] NULL,
 CONSTRAINT [PK_familia_patente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- Inserts
INSERT [dbo].[familia_patente] ([familia_id], [patente_id]) VALUES (4, 1)
INSERT [dbo].[familia_patente] ([familia_id], [patente_id]) VALUES (4, 2)
INSERT [dbo].[familia_patente] ([familia_id], [patente_id]) VALUES (4, 3)
