/****** Object:  Table [dbo].[controles]    Script Date: 2020-07-07 23:22:44 ******/
CREATE TABLE [dbo].[controles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idioma_id] [int] NULL,
	[tag] [varchar](50) NULL,
	[texto] [varchar](50) NULL,
 CONSTRAINT [PK_controles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- Inserts
INSERT [dbo].[controles] ([idioma_id], [tag], [texto]) VALUES (1, N'language', N'Idioma')
INSERT [dbo].[controles] ([idioma_id], [tag], [texto]) VALUES (2, N'language', N'Language')
INSERT [dbo].[controles] ([idioma_id], [tag], [texto]) VALUES (1, N'bitacore', N'Bitácora')
