<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Initial Catalog=aWords;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="database" value="false" />
	</appSettings>
</configuration>